* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

#bane {
    width: 500px;
    height: 300px;
    background-image: url("bilder/bane.jpg");
    background-size: 100% 100%;
    position: relative;
}

#ball {
    width: 40px;
    position: absolute;
    left: 0;
    top: 50%;
}
