* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    padding: 20px;
    border-radius: 20px;
}

.doorContainer {
    margin-left: -2000px;
    transition: 1s;
    height: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.doorContainer .text {
    font-size: 30px;
}

.doors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 40px;
}

.doors>div {
    position: relative;
}

.goat {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    z-index: -1;
}